<h1>ジャンル詳細ページ</h1>
<% @genres.each do |genre| %>
  <div><%= genre.name %></div>
  <div><%= genre.body %></div>
<% end %>

<%= form_with model: @genre do |f| %>
  <div>
    <%= f.label "ジャンル名" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label "ジャンル説明" %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit "追加登録" %>
<% end %>

