<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <% if params[:edit] == "user" || $edit_flag == "user" %>
    <h2>登録情報の変更</h2>
    <!--<div class="field">-->
    <!--  <%= f.label :role %><br />-->
    <!--  <%= f.select :role, User.roles.keys, autofocus: true, autocomplete: "role" %>-->
    <!--</div>-->

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>現在確認しています: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :current_password %> <br />
      <%= f.password_field :current_password, autocomplete: "current-password", value: current_user.current_password %>
    </div>

    <div class="actions">
      <%= f.submit "登録情報の更新" %>
      <% $edit_flag = "user" %>
    </div>
  <% else %>

    <h2>パスワードの変更</h2>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> 文字以上</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "パスワードの更新" %>
      <% $edit_flag = "password" %>
    </div>
  <% end %>
<% end %>

<!--<h3>Cancel my account</h3>-->

<!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->

<%= link_to "戻る", my_path %>
