<h1>管理者用ページ</h1>
<%= form_with( model: @coment, url: coments_path, local: true) do |f| %>
  <div class="coment-form">
    <% if @coments.any? %>
      <ul>
        <% @coments.roots.last(10).each do |coment_root| %>
          <li>
            <%= f.radio_button :ancestry, coment_root.id %><%= coment_root.body %> -- <%= coment_root.name %> <%= coment_root.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
            <% if coment_root.present? && coment_root.has_children? %>
              <ul>
                <% coment_root.children.each do |coment_child| %>
                  <li>
                    <%= f.radio_button :ancestry, coment_child.id %><%= coment_child.body %> -- <%= coment_child.name %> <%= coment_child.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
                    <% if coment_child.present? && coment_child.has_children? %>
                      <ul>
                        <% coment_child.children.each do |coment| %>
                          <li>
                            <%= coment.body %> -- <%= coment.name %> <%= coment.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <div class="mt-2 mb-5">
      <% user_name = user_signed_in? ? current_user.name : "" %>
      <%= f.radio_button :ancestry,"root", checked: true %>
      <%= f.text_field :name, placeholder: "名前",value: "#{user_name}", class:"coment-name" %>
      <%= f.text_field :body, placeholder: "コメント", class:"coment-body",autocomplete:"off" %>
      <%= f.hidden_field :page, value: request.path %>
      <%= f.submit "挿入" %>
    </div>
  </div>
<% end %>
<h3>ユーザー管理</h3>
<%= form_with url: admins_reques_path, method: :get, skip_enforcing_utf8: true, local: true do |f| %>
  <%= f.search_field :word, placeholder: "ユーザー名" %>
  <%= f.submit "検索" %>
<% end %>
<% if @users.present? %>
  <% @users.each do |user| %>
    <div><%= link_to user.name, admins_reques_path(name: user.name) %></div>
  <% end %>
<% end %>
<% if @user.present? %>
  <%= form_with model: @user, url: admins_path, local: true do |f| %>
    <div><%= @user.name %></div>
    <div>
      <%= f.hidden_field :id, value: @user.id %>
      <%= f.radio_button :role, User.roles.keys[@user.role_before_type_cast] %>
      <%= f.label User.roles.keys[@user.role_before_type_cast], for:"user_role_#{User.roles.keys[@user.role_before_type_cast]}" %>
      <%= f.radio_button :role, @user.role, checked: true %>
      <%= f.label @user.role, for:"user_role_#{@user.role}" %>
    </div>
    <%= f.submit "更新",name: "users" %>
  <% end %>
<% end %>