<h1>管理者ページ</h1>

<%= form_with( model: @coment, url: coments_path, local: true) do |f| %>
  <div class="coment-form">
    <% if @coments.any? %>
      <ul>
        <% @coments.roots.last(10).each do |coment_root| %>
          <li>
            <%= f.radio_button :ancestry, coment_root.id %><%= coment_root.body %> --<%= coment_root.name %> <%= coment_root.created_at %>
            <% if coment_root.present? && coment_root.has_children? %>
              <ul>
                <% coment_root.children.each do |coment_child| %>
                  <li>
                    <%= f.radio_button :ancestry, coment_child.id %><%= coment_child.body %> --<%= coment_child.name %> <%= coment_child.created_at %>
                    <% if coment_child.present? && coment_child.has_children? %>
                      <ul>
                        <% coment_child.children.each do |coment| %>
                          <li>
                            <%= coment.body %> --<%= coment.name %> <%= coment.created_at %>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <div class="mt-2 mb-5">
      <% user_name = user_signed_in? ? current_user.name : "" %>
      <%= f.radio_button :ancestry,"root", checked: true %>
      <%= f.text_field :name, placeholder: "名前",value: "#{user_name}", class:"coment-name" %>
      <%= f.text_field :body, placeholder: "コメント", class:"coment-body",autocomplete:"off" %>
      <%= f.hidden_field :page, value: request.path %>
      <%= f.submit "挿入" %>
    </div>
  <h3>管理に携わりたい方はこちら</h3>
    <div class="mt-2 mb-5">
      <% user_name = user_signed_in? ? current_user.name : "" %>
      <%= f.radio_button :ancestry,"root", checked: true %>
      <%= f.text_field :name, placeholder: "名前",value: "#{user_name}", class:"coment-name" %>
      <%= f.text_field :body, placeholder: "コメント", class:"coment-body",autocomplete:"off" %>
      <%= f.hidden_field :page, value: "/admins/reques" %>
      <%= f.submit "挿入" %>
    </div>
  </div>
<% end %>