<h1>ゲーム検索</h1>
<div class="search-area mb-2">
  <%= form_with url: games_path, method: :get, skip_enforcing_utf8: true, local: true do |f| %>
    <div>
      <label>キーワード検索</label>
      <%= f.search_field :word, value: @word, class:"autocomplete-title" %>
    </div>
    <div>
      <label>除外キーワード</label>
      <%= f.search_field :notword, value: @notword %>
    </div>
    <div class="CloseUp">
        <p>条件で絞り込む</p>
      <div>
        <label>タグ名</label>
        <%= f.search_field :tags, value: @tags, class:"autocomplete-tag" %>
      </div>
      <div>
        <label>ジャンル</label><br>
        <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name, include_hidden: false, checked: @genres %>
      </div>
      <div>
        <label>機種</label><br>
        <%= f.collection_check_boxes :machine_ids, Machine.all, :id, :name, include_hidden: false, checked: @machines %>
      </div>
    </div>
    <%= f.submit "検索" %>
  <% end %>
</div>
<%= link_to "ゲームの登録", new_game_path if user_signed_in? && current_user.role_before_type_cast >= 1 %>
<div>
  <% if params[:title].present? %>
    <span><%= @word %>を含むゲームのタイトルが<%= @games.size %>件見つかりました</span>
  <% elsif params[:commit].present? %>
    <span>検索条件を満たしたゲームが<%= @games.size %>件見つかりました</span>
  <% end %>
</div>
<% @games.each do |game| %>
<table class="w-100 table  table-between-border">
  <tr>
    <th width="33%" class="text-align-left">
      <%= link_to game.name, game_path(game.name), class:"a-underline" %>
    </th>
    <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 0" colspan="2">
      <%= game.body %>
    </td>
  </tr>
  <tr>
    <td><% game.genres.each do |genre| %>
      <%= genre.name %>
    <% end %></td>
    <td><% game.machines.each do |machine| %>
      <%= machine.name %>
    <% end %></td>
    <td width="33%"><% game.tags.each do |tag| %>
      <%= tag.name %>
    <% end %></td>
  </tr>
</table>
<%= paginate(@games) %>
<% end %>
