<h1>ゲーム詳細</h1>
<% if params[:edit] == "true" %>
  <%= form_with model: @game, local: true do |f| %>
    <div>
      <%= f.text_field :name, placeholder: "ゲームタイトル" %>
      <%= f.text_field :kana, placeholder: "ゲームタイトル(かな)" %>
    </div>
    <div>
      <%= f.text_area :body, placeholder: "ゲーム概要", oninput: "textAreaHeightSet(this)", onchange: "textAreaHeightSet(this)", class:"text_area" %>
    </div>
    <div>
      <%= f.label "ジャンル：" %>
      <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name, include_hidden: false %>
    </div>
    <div>
      <%= f.label "機種：" %>
      <%= f.collection_check_boxes :machine_ids, Machine.all, :id, :name, include_hidden: false %>
    </div>
    <div>
      <%= f.text_field :cero, placeholder: "対象年齢" %>
    </div>
    <div>
      <%= f.text_area :official, placeholder: "公式サイト", oninput: "textAreaHeightSet(this)", onchange: "textAreaHeightSet(this)", class:"text_area" %>
    </div>
    <div>
      <%= f.text_area :wiki, placeholder: "攻略サイト", oninput: "textAreaHeightSet(this)", onchange: "textAreaHeightSet(this)", class:"text_area" %>
    </div>
    <div>
      <%= f.text_field :day, placeholder: "発売日" %>
    </div>
    <%= f.submit %>
  <% end %>
<% else %>
  <table class="w-100 table table-border table-oddline-back">
    <tr>
      <td class="table-mini">
        ゲームタイトル
        <%= link_to "https://www.google.co.jp/search?q=#{@game.name}", target: :_blank, rel: "noopener noreferrer", class:"balloon-base" do %><i class="fas fa-search font-blue"></i><span class="balloon">ゲームタイトルでGoogle検索</span><% end %>
        <div id="favorite<%= @game.id %>"><%= render 'game_favorites/favo', game: @game %></div>
      </td>
      <td colspan="3"><%= @game.name %><br>(<%= @game.kana %>)</td>
    </tr>
    <tr>
      <td>ジャンル</td>
      <td class="w-40">
        <% @game.genres.each do |g| %>
          <%= g.name %>&nbsp;
        <% end %>
      </td>
      <td>機種</td>
      <td>
        <% @game.machines.each do |g| %>
          <%= g.name %>&nbsp;
        <% end %>
      </td>
    </tr>
    <tr>
      <td>対象年齢</td>
      <td><%= @game.cero %></td>
      <td class="w-10">発売日</td>
      <td><%= @game.day %></td>
    </tr>
   <tr>
      <td>公式サイト</td>
      <td colspan="3">
        <% @game.official.split(/\R/).each do |url| %>
          <%= link_to url ,url, target: :_blank, rel: "noopener noreferrer" %><br>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>攻略サイト</td>
      <td colspan="3">
        <% @game.wiki.split(/\R/).each do |url| %>
          <%= link_to url ,url, target: :_blank, rel: "noopener noreferrer" %><br>
        <% end %>
      </td>
    </tr>
  </table>
  <div class="text-align-right">
    <%  if user_signed_in? && current_user.role_before_type_cast >= 2 %>
    <%= link_to "編集", game_path(@game.name, edit: true) %>
    <% else %>
    <div style="height:1.5em;"></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= $unique %><%= $unique = "" %>
    <div class="TagForm pr-2">
      <button type="button" class="TagEdit" >タグ編集</button>
      <button type="button" class="TagEdit" hidden>編集完了</button>
    </div>
    <div class="TagForm">
      <div id="Tag"><%= render "tags/tag", game: @game %></div>
      <div class="TagInput mt-1" >
        <%= form_with model: @game, url: tags_path, method: :post do |f| %>
          <%= f.hidden_field :id, value: @game.id %>
          <%= f.text_field :tag_name, class:"autocomplete-tag", id:"TagInput" %>
          <%= f.submit "登録" %><span class=tagkome style="margin-left: 40px">※単語を空白で区切ると一度に複数のタグを登録できます。</span>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <div>ゲーム概要</div>
    <div style="white-space:pre-wrap" class="ml-2"><%= @game.body %></div>
  </div>

<% end %>

<h3>新着レビュー</h3>
<div>
  <%= link_to "レビュー一覧", game_reviews_path(game_name: @game.name) %>
  <%  if user_signed_in? && current_user.role_before_type_cast >= 1 %>
    ｜ <%= link_to "レビュー投稿", new_game_review_path(game_name: @game.name) %>
  <% end %>
</div>
<% @reviews.each do |review| %>
  <table class="ml-1 review-table table-between-border">
    <tr>
      <td width="40%">
        <div><%= link_to review.user.name, user_path(review.user.name) %></div>
        <div>プレイ時間：<%= review.hour %></div>
      </td>
      <td><div id="story-rate-<%= review.id %>"></div></td>
        <script>
          $('#story-rate-<%= review.id %>').empty();
          $('#story-rate-<%= review.id %>').html("<span>ストーリー</span>");
          $('#story-rate-<%= review.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.story %>,
          });
          $('#story-rate-<%= review.id %> img').wrapAll("<div class=\"flex flex-wrap-nowrap\">")
        </script>
      <td><div id="system-rate-<%= review.id %>"></div></td>
        <script>
          $('#system-rate-<%= review.id %>').empty();
          $('#system-rate-<%= review.id %>').html("<span>操作・システム</span>")
          $('#system-rate-<%= review.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.system %>,
          });
          $('#system-rate-<%= review.id %> img').wrapAll("<div class=\"flex flex-wrap-nowrap\">")
        </script>
      <td><div id="total-rate-<%= review.id %>"></div></td>
        <script>
          $('#total-rate-<%= review.id %>').empty();
          $('#total-rate-<%= review.id %>').html("<span>総合</span>");
          $('#total-rate-<%= review.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.total %>,
          });
          $('#total-rate-<%= review.id %> img').wrapAll("<div class=\"flex flex-wrap-nowrap\">")
        </script>
    </tr>
    <tr>
      <% if review.is_spoiler? %>
        <td colspan="4" class="pt-1 pb-1 pl-1">
          <input type="button" id="button<%= review.id %>" value="ネタバレを含みます">
          <span id="hidden<%= review.id %>"></span>
          <script>
            $("#button<%= review.id %>").click(function(){
              $("#hidden<%= review.id %>").replaceWith('<span id="hidden<%= review.id %>" style="white-space:pre-wrap" ><%= review.body.gsub(/\R/, '\n') %></span>');
              $("#button<%= review.id %>").remove();
            });
          </script>
        </td>
      <% else %>
        <td colspan="4" style="white-space:pre-wrap" class="pt-1 pb-1 pl-1"><%= review.body %></td>
      <% end %>
      </tr>
  </table>
<% end %>
<h3>コメント</h3><%= link_to "コメント一覧", game_game_coments_path(game_name: @game.name) %>
<%= form_with( model: [@game, @game_coment], url: game_game_coments_path(game_name: @game.name), local: true) do |f| %>
  <div class="coment-form">
    <% if @game.game_coments.any? %>
      <ul>
        <% @game.game_coments.roots.last(10).each do |coment_root| %>
          <li>
            <%= f.radio_button :ancestry, coment_root.id %><%= coment_root.body %> -- <%= coment_root.name %> <%= coment_root.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
            <% if coment_root.present? && coment_root.has_children? %>
              <ul>
                <% coment_root.children.each do |coment_child| %>
                  <li>
                    <%= f.radio_button :ancestry, coment_child.id %><%= coment_child.body %> -- <%= coment_child.name %> <%= coment_child.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
                    <% if coment_child.present? && coment_child.has_children? %>
                      <ul>
                        <% coment_child.children.each do |coment| %>
                          <li>
                            <%= coment.body %> -- <%= coment.name %> <%= coment.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <div class="mt-2 mb-5">
      <% user_name = user_signed_in? ? current_user.name : "" %>
      <%= f.radio_button :ancestry,"root", checked: true %>
      <%= f.text_field :name, placeholder: "名前",value: "#{user_name}", class:"coment-name" %>
      <%= f.text_field :body, placeholder: "コメント", class:"coment-body",autocomplete:"off" %>
      <%= f.submit "挿入" %>
    </div>
  </div>
<% end %>