<h1><%= @game.name %>のコメント一覧</h1>
<div class="coment-index">
  <% if @game.game_coments.any? %>
    <ul>
      <% @game.game_coments.roots.each do |coment_root| %>
        <li>
          <span style="margin-left: -5px"><%= coment_root.body %> --<%= coment_root.name %> <%= coment_root.created_at %></span>
          <% if coment_root.present? && coment_root.has_children? %>
            <ul>
              <% coment_root.children.each do |coment_child| %>
                <li>
                  <span><%= coment_child.body %> --<%= coment_child.name %> <%= coment_child.created_at %></span>
                  <% if coment_child.present? && coment_child.has_children? %>
                    <ul>
                      <% coment_child.children.each do |coment| %>
                        <li>
                          <span><%= coment.body %> --<%= coment.name %> <%= coment.created_at %></span>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
