<h1>タグ</h1>
<div class="search-form mb-1">
  <%= form_with url: tags_path, method: :get, skip_enforcing_utf8: true, local: true do |f| %>
    <%= f.search_field :word, placeholder: "タグ" %>
    <%= f.submit "検索",name: nil %>
  <% end %>
</div>

<% if @word.present? %>
  <div>キーワード<strong>(<%= @word %>)</strong>を含む検索結果(<%= @tags.count %>)</div>
<% end %>

<table class="w-100 table-border">
  <% @tags.each_slice(5) do |tags| %>
    <tr valign="top">
       <% tags.each do |tag| %>
        <td width="20%">
          <%= link_to "#{tag.name}(#{tag.games.count})", games_path %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>