<h1>タグ</h1>
<div class="search-form mb-1">
  <%= form_with url: tags_path, method: :get, skip_enforcing_utf8: true, local: true do |f| %>
    <%= f.search_field :tags, placeholder: "タグ名", value: @word, class:"autocomplete-tag" %>
    <%= f.submit "検索",name: nil %>
  <% end %>
</div>

<% if @word.present? %>
  <div><strong><%= @word %></strong>を含むタグの検索結果(<%= @tags.count %>件)</div>
<% end %>

<table class="w-100">
  <tr>
    <td width="20%"></td>
    <td width="20%"></td>
    <td width="20%"></td>
    <td width="20%"></td>
    <td width="20%"></td>
  </tr>
  <% @tags.each_slice(5) do |tags| %>
    <tr valign="top">
      <% tags.each do |tag| %>
      <% count = tag.games.count %>
      <%# break if count == 0 %>
        <td>
          <%= link_to "#{tag.name}(#{count})", games_path %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>