<h1>機種詳細ページ</h1>
<% @machines.each do |machine| %>
  <div>
    <strong><%= machine.name %></strong>
    <%= link_to games_path(commit: "検索",machine_ids: machine.id), class:"balloon-base" do %>
      <i class="fas fa-search font-blue"></i><span class="balloon">「<%= machine.name %>」でゲームを検索</span>
    <% end %>
  </div>
  <div class="ml-1 mb-1"><%= machine.body %></div>
  <div class="text-align-right"><%= link_to "編集", machines_path(id: machine.id) if user_signed_in? && current_user.role_before_type_cast >= 2 %></div>
<% end %>

<%= form_with model: @machine do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "機種名" %>
  </div>
  <div>
    <%= f.text_area :body, placeholder: "機種説明", oninput: "textAreaHeightSet(this)", onchange: "textAreaHeightSet(this)", class:"text_area" %>
  </div>
  <%= f.submit %>
<% end %>


