<h1>機種詳細ページ</h1>
<% @machines.each do |machine| %>
  <div><%= machine.name %></div>
  <div><%= machine.body %></div>
<% end %>

<%= form_with model: @machine do |f| %>
  <div>
    <%= f.label "機種名" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label "機種説明" %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit "追加登録" %>
<% end %>