<!--<h1>サイドバー</h1>-->
<% s_genres = Genre.eager_load(:games).all %>
<% s_machines = Machine.joins(:machine_relations).group(:machine_id).order('count(game_id) desc').limit(10) %>
<% s_tags = Tag.joins(:tag_relations).group(:tag_id).order('count(game_id) desc').limit(10) %>

<table class="side-table">
  <tr>
    <th>
      <h3>ゲームを探す</h3>
      <div class="text-align-right mb-2">
        <div class="search-form mb-1">
          <%= form_with url: games_path, method: :get, skip_enforcing_utf8: true, local: true do |f| %>
            <%= f.search_field :word, placeholder: "ゲームタイトル" %>
            <%= f.submit "検索",name: nil %>
          <% end %>
        </div>
        <%= link_to "詳細検索", games_path %>
      </div>
    </th>
  </tr>
  <tr>
    <td>
      <p>ジャンル</p>
      <div>
        <% s_genres.each do |genre| %>
          <div>
            <%= link_to "#{genre.name}(#{genre.games.size})" ,games_path %>
          </div>
        <% end %>
      </div>
      <div class="text-align-right" ><%= link_to "詳細", genres_path %></div>
    </td>
  </tr>
  <tr>
    <td>
      <p>機種</p>
      <div>
        <% s_machines.each_with_index do |machine, i| %>
          <% break if i >= 10 %>
          <div>
            <%= link_to "#{machine.name}(#{machine.games.size})" ,games_path %>
          </div>
        <% end %>
      </div>
      <div class="text-align-right" ><%= link_to "詳細", machines_path %></div>
    </td>
  </tr>
  <tr>
    <td>
      <p>タグ</p>
      <div>
        <% s_tags.each do |tag| %>
          <div>
            <%= link_to "#{tag.name}(#{tag.games.size})" ,games_path %>
          </div>
        <% end %>
      </div>
      <div class="text-align-right" ><%= link_to "一覧", tags_path %></div>
    </td>
  </tr>
  <tr>
    <td>
      <p>管理</p>
      <div><%= link_to "トップページ", admin_path %></div>
    </td>
  </tr>
  <tr>
    <td>
      <p>最新の10件</p>
    </td>
  </tr>
</table>
