<!DOCTYPE html>
<html>
  <head>
    <title>GG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body>
    <header class="flex justify-content-space-between">
      <div>
        <% if user_signed_in? %>
          <%= current_user.name %> : <%= current_user.role %>
          <%= link_to "info" , info_path %>
          <%= link_to "マイページ" , my_path %>
          <%= link_to "test2ページ" , user_path("test2") %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "info" , info_path %>
          <%= link_to 'アカウント登録', new_user_registration_path %>
          <%= link_to 'ログイン', user_session_path %>
        <% end %>
      </div>
      <div class="search-form">
        <%= form_with url: search_path, skip_enforcing_utf8: true, local: true  do |f| %>
          <%= f.search_field :word, placeholder: "サイト内検索" %>
          <%= f.submit "検索",name: nil %>
        <% end %>
      </div>
    </header>

    <main class="flex">
      <div class="side">
        <%= render "layouts/side" %>
      </div>
      <div class="main">
        <%= yield %>
      </div>
    </main>

    <footer>
    </footer>
  </body>
</html>
